In [1]:
import pandas as pd
import numpy as np
import re
import time

In [2]:
taxi_df = pd.read_csv("taxi_data.csv")
bus_df = pd.read_csv("bus_stations.csv")
subway_df = pd.read_csv("subway_stations.csv")

In [3]:
def parseCoords(regex, x):
    arr = regex.match(x)
    return (float(arr.group(2)), float(arr.group(1)))

In [4]:
regex = re.compile("[ ]*POINT \(([-.0-9]+) ([-.0-9]+)\)")
subway_df['coords'] = subway_df.apply(lambda x : parseCoords(regex, x['the_geom']), axis=1)
bus_df['coords'] = list(zip(bus_df['LATITUDE'], bus_df['LONGITUDE']))

In [5]:
subway_df['type'] = 'subway'
bus_df['type'] = 'bus'

In [6]:
bus_df['location'] = bus_df['Street'] + ' AT BETWEEN ' + bus_df['AT_BETWEEN']
bus_df_stripped = bus_df.filter(['location', 'coords', 'type'], axis=1)
subway_df['location'] = subway_df['NAME']
subway_df_stripped = subway_df.filter(['location', 'coords', 'type'], axis=1)
oepnv_locations = pd.concat([subway_df_stripped, bus_df_stripped], ignore_index=True, sort=False)

In [7]:
oepnv_locations

,location,coords,type
0,Astor Pl,"(40.73005400028978, -73.99106999861966)",subway
1,Canal St,"(40.71880300107709, -74.00019299927328)",subway
2,50th St,"(40.76172799961419, -73.98384899986625)",subway
3,Bergen St,"(40.68086213682956, -73.97499915116808)",subway
4,Pennsylvania Ave,"(40.66471445143568, -73.89488591154061)",subway
5,238th St,"(40.88466700064975, -73.90087000018522)",subway
6,Cathedral Pkwy (110th St),"(40.800581558114956, -73.95806670661364)",subway
7,Kingston - Throop Aves,"(40.67991899941601, -73.94085899871263)",subway
8,65th St,"(40.74971952935675, -73.8987883783301)",subway
9,36th St,"(40.75196004401078, -73.92901818461539)",subway
10,Delancey St - Essex St,"(40.71830605618619, -73.98740940202974)",subway
11,Van Siclen Ave,"(40.67802821447783, -73.89165772702445)",subway
12,Norwood Ave,"(40.68152000045683, -73.87962599910783)",subway
13,104th-102nd Sts,"(40.69516599823373, -73.84443500029684)",subway
14,DeKalb Ave,"(40.690648119969794, -73.98177094440949)",subway
15,Beach 105th St,"(40.58326843810286, -73.82758075034528)",subway
16,Beach 90th St,"(40.58809156457325, -73.81365140419632)",subway
17,Freeman St,"(40.829987446384116, -73.89175225349464)",subway
18,Intervale Ave,"(40.822142131170786, -73.89661738461646)",subway
19,182nd-183rd Sts,"(40.85609299881864, -73.90074099998965)",subway
20,174th-175th Sts,"(40.84589999983414, -73.91013600050078)",subway
21,167th St,"(40.83376899862797, -73.91843200082253)",subway
22,Mets - Willets Point,"(40.75462199881262, -73.8456249984179)",subway
23,Junction Blvd,"(40.74914499948836, -73.86952700103515)",subway
24,Flushing - Main St,"(40.75959999915012, -73.83003000262508)",subway
25,Buhre Ave,"(40.846809998885504, -73.83256900003744)",subway
26,3rd Ave - 138th St,"(40.81047600117261, -73.92613800014134)",subway
27,Castle Hill Ave,"(40.83425499825462, -73.85122199961472)",subway
28,Brooklyn Bridge - City Hall,"(40.713064999433136, -74.0041310005885)",subway
29,Zerega Ave,"(40.836488000608156, -73.8470359987544)",subway
...,...,...,...
3871,W SHR EXPWY NB EN ARTHUR KILL RD AT BETWEEN AR...,"(40.557024, -74.203227)",bus
3872,RICHMOND AVENUE AT BETWEEN YUKON AV,"(40.57649, -74.169505)",bus
3873,FOREST AVENUE AT BETWEEN DECKER AV,"(40.624631, -74.141061)",bus
3874,ARTHUR KILL ROAD AT BETWEEN HUGUENOT AV,"(40.556092, -74.20276)",bus
3875,BAY STREET AT BETWEEN TOWNSEND AV,"(40.621173, -74.071653)",bus
3876,RICHMOND TERRACE AT BETWEEN NICHOLAS ST,"(40.647249, -74.08092099999999)",bus
3877,NEW DORP LANE AT BETWEEN HYLAN BLVD,"(40.569653, -74.108427)",bus
3878,NEW DORP LANE AT BETWEEN 2 ST,"(40.575269, -74.118934)",bus
3879,NEW DORP LANE AT BETWEEN HYLAN BLVD,"(40.570412, -74.10949000000001)",bus
3880,FOREST AVENUE AT BETWEEN WILLOW RD W,"(40.625032, -74.147092)",bus
3881,HYLAN BOULEVARD AT BETWEEN MIDLAND AV,"(40.577659999999995, -74.102786)",bus
3882,HYLAN BOULEVARD AT BETWEEN MIDLAND AV,"(40.57764, -74.102811)",bus
3883,RICHMOND AVENUE AT BETWEEN GENESEE AV,"(40.552422, -74.168098)",bus
3884,RICHMOND AVENUE AT BETWEEN HYLAN BLVD,"(40.534572, -74.154313)",bus
3885,FRESH KILLS GREENWAY AT BETWEEN YUKON AV,"(40.576628, -74.170019)",bus
3886,MARSH AVENUE AT BETWEEN RING RD,"(40.583486, -74.161759)",bus
3887,NaN,"(40.560853, -74.170536)",bus
3888,HYLAN BOULEVARD AT BETWEEN THORNYCROFT AV,"(40.535689, -74.152159)",bus
3889,DRUMGOOLE ROAD EAST AT BETWEEN Huguenot Av,"(40.53438, -74.19248)",bus
3890,TARGEE STREET AT BETWEEN SOBEL CT,"(40.61387, -74.08471)",bus
3891,MARSH AVENUE AT BETWEEN WINDHAM LOOP,"(40.57808, -74.16351)",bus
3892,BAY STREET AT BETWEEN VAN DUZER EXT,"(40.63478, -74.07548)",bus
3893,TARGEE STREET AT BETWEEN PALMA DR,"(40.61235, -74.08506)",bus
3894,HYLAN BOULEVARD AT BETWEEN Beach Av,"(40.567828000000006, -74.112215)",bus
3895,INDEPENDENCE AVENUE AT BETWEEN Pathmark,"(40.574009999999994, -74.168564)",bus
3896,RICHMOND TERRACE AT BETWEEN Franklin Av,"(40.645357000000004, -74.092991)",bus
3897,HYLAN BOULEVARD AT BETWEEN GUYON AV,"(40.5603, -74.12039)",bus
3898,HYLAN BOULEVARD AT BETWEEN GUYON AV,"(40.56044, -74.11976999999999)",bus
3899,STATEN ISLAND RAILWAY LINE AT BETWEEN BETWEEN ...,"(40.6438, -74.0755)",bus
3900,SCHUYLER STREET AT BETWEEN BETWEEN BAY ST & SH...,"(40.643468, -74.076582)",bus

In [8]:
taxi_df_with_location = taxi_df[taxi_df['Pickup_longitude'].notnull()][taxi_df['Pickup_latitude'].notnull()][taxi_df['Dropoff_longitude'].notnull()][taxi_df['Dropoff_latitude'].notnull()]

/Users/yannickfischer/anaconda3/envs/learning_env2/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [9]:
taxi_df_with_location['trip_start_coords'] = list(zip(taxi_df_with_location['Pickup_latitude'], taxi_df_with_location['Pickup_longitude']))
taxi_df_with_location['trip_stop_coords'] = list(zip(taxi_df_with_location['Dropoff_latitude'], taxi_df_with_location['Dropoff_longitude']))

In [10]:
taxi_df_stripped = taxi_df_with_location.filter(['Passenger_count', 'Trip_distance', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime', 'Total_amount', 'trip_start_coords', 'trip_stop_coords'], axis=1)
taxi_df_stripped.head(10)

,Passenger_count,Trip_distance,lpep_pickup_datetime,Lpep_dropoff_datetime,Total_amount,trip_start_coords,trip_stop_coords
0,1,0.00,06/27/2016 08:06:54 PM,06/27/2016 08:06:56 PM,20.00,"(40.8540153503418, -73.9371337890625)","(40.85404586791992, -73.93716430664062)"
1,1,2.31,06/27/2016 08:18:59 PM,06/27/2016 08:31:30 PM,12.30,"(40.73588180541992, -73.87599945068358)","(40.74331283569336, -73.91846466064453)"
2,1,1.79,06/27/2016 08:41:59 PM,06/27/2016 08:51:59 PM,11.80,"(40.74348068237305, -73.92293548583984)","(40.73776626586913, -73.90747833251955)"
3,1,5.90,06/27/2016 08:18:37 PM,06/27/2016 08:38:13 PM,21.30,"(40.73053741455078, -73.86274719238281)","(40.75696182250977, -73.9418411254883)"
4,1,0.44,06/27/2016 08:04:02 PM,06/27/2016 08:06:49 PM,5.30,"(40.74653625488281, -73.89139556884766)","(40.74052047729492, -73.8902359008789)"
5,1,12.49,06/27/2016 08:39:05 PM,06/27/2016 09:05:11 PM,51.41,"(40.69896697998047, -73.80701446533203)","(40.80011367797852, -73.93890380859375)"
6,1,0.67,06/27/2016 08:54:47 PM,06/27/2016 08:58:45 PM,7.88,"(40.71372604370117, -73.82990264892578)","(40.7154426574707, -73.8219223022461)"
7,1,5.16,06/27/2016 08:19:51 PM,06/27/2016 08:42:33 PM,25.56,"(40.67512893676758, -73.95994567871094)","(40.729248046875, -74.00222778320312)"
8,5,3.00,06/18/2016 06:03:15 PM,06/18/2016 06:17:19 PM,13.80,"(40.77011489868164, -73.91835021972656)","(40.74272155761719, -73.88262176513672)"
9,5,0.77,06/18/2016 06:18:20 PM,06/18/2016 06:26:37 PM,7.30,"(40.74272155761719, -73.88262176513672)","(40.73440170288085, -73.87420654296875)"

In [11]:
#calc_min((40.75664138793945, -73.91413116455078), oepnv_locations)
t0 = time.time()
taxi_df_stripped.head(1000)['trip_start_coords'].map(calc_min)
t1 = time.time()
total = t1 - t0
total

NameError: name 'calc_min' is not defined

In [ ]:
30 * 9018 / 60 / 60

In [11]:
def calc_min(x):
    amin = np.argmin([np.linalg.norm(np.array(x)-np.array(y)) for y in oepnv_locations['coords']])
    return oepnv_locations.iloc[amin]['location']

In [12]:
taxi_df_stripped.head(10)
taxi_df_stripped.dtypes

Passenger_count            int64
Trip_distance            float64
lpep_pickup_datetime      object
Lpep_dropoff_datetime     object
Total_amount             float64
trip_start_coords         object
trip_stop_coords          object
dtype: object

In [26]:
taxi_df_stripped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9018030 entries, 0 to 16385531
Data columns (total 7 columns):
Passenger_count          int64
Trip_distance            float64
lpep_pickup_datetime     object
Lpep_dropoff_datetime    object
Total_amount             float64
trip_start_coords        object
trip_stop_coords         object
dtypes: float64(2), int64(1), object(4)
memory usage: 550.4+ MB

In [42]:
from datetime import datetime
weather=pd.read_csv("weather_1.csv",error_bad_lines=False, sep=";")
weather['date']= weather['date'].astype(str)
weather['Date'] = weather['date'].apply(lambda x: datetime.strptime(x, '%d.%m.%y'))
weather = weather.drop("Sum Distance", axis=1)
weather = weather.drop("Time Started", axis=1)
weather = weather.drop("Distance Traveled", axis=1)
weather.head()

       date  Precipitation Temp_Avg       Date
0  01.01.16              0      3,3 2016-01-01
1  02.01.16              0      2,2 2016-01-02
2  03.01.16              0      4,4 2016-01-03
3  04.01.16              0     -3,9 2016-01-04
4  05.01.16              0     -6,7 2016-01-05

In [43]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 4 columns):
date             366 non-null object
Precipitation    366 non-null int64
Temp_Avg         366 non-null object
Date             366 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 11.5+ KB

In [15]:
df_test1= taxi_df_stripped.head(1000)
df_test1['Date'] = pd.to_datetime(df_test1['lpep_pickup_datetime']).dt.date
df_test1['Time'] = pd.to_datetime(df_test1['lpep_pickup_datetime']).dt.time
df_test1['Date']=df_test1['Date'].astype(str)
df_test1['Date']=df_test1["Date"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
df_test1.head()

/Users/yannickfischer/anaconda3/envs/learning_env2/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/yannickfischer/anaconda3/envs/learning_env2/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/yannickfischer/anaconda3/envs/learning_env2/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/yannickfischer/anaconda3/envs/learning_env2/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Passenger_count,Trip_distance,lpep_pickup_datetime,Lpep_dropoff_datetime,Total_amount,trip_start_coords,trip_stop_coords,Date,Time
0,1,0.00,06/27/2016 08:06:54 PM,06/27/2016 08:06:56 PM,20.0,"(40.8540153503418, -73.9371337890625)","(40.85404586791992, -73.93716430664062)",2016-06-27,20:06:54
1,1,2.31,06/27/2016 08:18:59 PM,06/27/2016 08:31:30 PM,12.3,"(40.73588180541992, -73.87599945068358)","(40.74331283569336, -73.91846466064453)",2016-06-27,20:18:59
2,1,1.79,06/27/2016 08:41:59 PM,06/27/2016 08:51:59 PM,11.8,"(40.74348068237305, -73.92293548583984)","(40.73776626586913, -73.90747833251955)",2016-06-27,20:41:59
3,1,5.90,06/27/2016 08:18:37 PM,06/27/2016 08:38:13 PM,21.3,"(40.73053741455078, -73.86274719238281)","(40.75696182250977, -73.9418411254883)",2016-06-27,20:18:37
4,1,0.44,06/27/2016 08:04:02 PM,06/27/2016 08:06:49 PM,5.3,"(40.74653625488281, -73.89139556884766)","(40.74052047729492, -73.8902359008789)",2016-06-27,20:04:02

In [16]:
df_test1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 9 columns):
Passenger_count          1000 non-null int64
Trip_distance            1000 non-null float64
lpep_pickup_datetime     1000 non-null object
Lpep_dropoff_datetime    1000 non-null object
Total_amount             1000 non-null float64
trip_start_coords        1000 non-null object
trip_stop_coords         1000 non-null object
Date                     1000 non-null datetime64[ns]
Time                     1000 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 78.1+ KB

In [46]:
taxi_df_stripped3 = taxi_df_stripped
taxi_df_stripped3.head()

,Passenger_count,Trip_distance,lpep_pickup_datetime,Lpep_dropoff_datetime,Total_amount,trip_start_coords,trip_stop_coords
0,1,0.00,06/27/2016 08:06:54 PM,06/27/2016 08:06:56 PM,20.0,"(40.8540153503418, -73.9371337890625)","(40.85404586791992, -73.93716430664062)"
1,1,2.31,06/27/2016 08:18:59 PM,06/27/2016 08:31:30 PM,12.3,"(40.73588180541992, -73.87599945068358)","(40.74331283569336, -73.91846466064453)"
2,1,1.79,06/27/2016 08:41:59 PM,06/27/2016 08:51:59 PM,11.8,"(40.74348068237305, -73.92293548583984)","(40.73776626586913, -73.90747833251955)"
3,1,5.90,06/27/2016 08:18:37 PM,06/27/2016 08:38:13 PM,21.3,"(40.73053741455078, -73.86274719238281)","(40.75696182250977, -73.9418411254883)"
4,1,0.44,06/27/2016 08:04:02 PM,06/27/2016 08:06:49 PM,5.3,"(40.74653625488281, -73.89139556884766)","(40.74052047729492, -73.8902359008789)"

In [47]:
#Split Zeit und Datum in Spalten Zeit und Datum
t0 = time.time()
taxi_df_stripped3['Date'] = pd.to_datetime(taxi_df_stripped3['lpep_pickup_datetime']).dt.date
taxi_df_stripped3['Time'] = pd.to_datetime(taxi_df_stripped3['lpep_pickup_datetime']).dt.time
taxi_df_stripped3['Date']=taxi_df_stripped3['Date'].astype(str)
taxi_df_stripped3['Date']=taxi_df_stripped3["Date"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

t1 = time.time()
total = t1 - t0
total

1630.988079071045

0.007539987564086914

In [128]:
# Outer Join von Wetterdaten und unseren Trip Daten
testdf=pd.merge(taxi_df_stripped3, weather, on="Date", how="outer")

#Tempdaten von string mit comma in float mit .
testdf["Temp_Avg"] = [x.replace(',', '.') for x in testdf["Temp_Avg"]]

testdf["Temp_Avg"] = testdf["Temp_Avg"].astype(float)

#Miles in Meter umrechnen
testdf["Trip_distance"]= testdf["Trip_distance"]*1.60934*1000

#Score fÃ¼r Distanz gereist: Wenn Distanz GrÃ¶ÃŸer 10000m dann 0,1 Punkte - wenn distanz unter 10000m dann Distanz/1000000
testdf.loc[testdf.Trip_distance > 10000, 'Distance_Score'] = 0.1
testdf.loc[(testdf.Trip_distance <= 10000) & (testdf.Trip_distance >= 1000), 'Distance_Score'] = testdf["Trip_distance"]/100000
testdf.loc[(testdf.Trip_distance < 1000), 'Distance_Score'] = 0.05
testdf.head()




testdf.head(100)

,Passenger_count,Trip_distance,lpep_pickup_datetime,Lpep_dropoff_datetime,Total_amount,trip_start_coords,trip_stop_coords,Date,Time,date,Precipitation,Temp_Avg,Distance_Score
0,1.0,0.0000,06/27/2016 08:06:54 PM,06/27/2016 08:06:56 PM,20.00,"(40.8540153503418, -73.9371337890625)","(40.85404586791992, -73.93716430664062)",2016-06-27,20:06:54,27.06.16,1,23.9,0.050000
1,1.0,3717.5754,06/27/2016 08:18:59 PM,06/27/2016 08:31:30 PM,12.30,"(40.73588180541992, -73.87599945068358)","(40.74331283569336, -73.91846466064453)",2016-06-27,20:18:59,27.06.16,1,23.9,0.037176
2,1.0,2880.7186,06/27/2016 08:41:59 PM,06/27/2016 08:51:59 PM,11.80,"(40.74348068237305, -73.92293548583984)","(40.73776626586913, -73.90747833251955)",2016-06-27,20:41:59,27.06.16,1,23.9,0.028807
3,1.0,9495.1060,06/27/2016 08:18:37 PM,06/27/2016 08:38:13 PM,21.30,"(40.73053741455078, -73.86274719238281)","(40.75696182250977, -73.9418411254883)",2016-06-27,20:18:37,27.06.16,1,23.9,0.094951
4,1.0,708.1096,06/27/2016 08:04:02 PM,06/27/2016 08:06:49 PM,5.30,"(40.74653625488281, -73.89139556884766)","(40.74052047729492, -73.8902359008789)",2016-06-27,20:04:02,27.06.16,1,23.9,0.050000
5,1.0,20100.6566,06/27/2016 08:39:05 PM,06/27/2016 09:05:11 PM,51.41,"(40.69896697998047, -73.80701446533203)","(40.80011367797852, -73.93890380859375)",2016-06-27,20:39:05,27.06.16,1,23.9,0.100000
6,1.0,1078.2578,06/27/2016 08:54:47 PM,06/27/2016 08:58:45 PM,7.88,"(40.71372604370117, -73.82990264892578)","(40.7154426574707, -73.8219223022461)",2016-06-27,20:54:47,27.06.16,1,23.9,0.010783
7,1.0,8304.1944,06/27/2016 08:19:51 PM,06/27/2016 08:42:33 PM,25.56,"(40.67512893676758, -73.95994567871094)","(40.729248046875, -74.00222778320312)",2016-06-27,20:19:51,27.06.16,1,23.9,0.083042
8,1.0,1367.9390,06/27/2016 08:42:35 PM,06/27/2016 08:46:20 PM,7.56,"(40.76191711425781, -73.92545318603516)","(40.76916122436523, -73.9342041015625)",2016-06-27,20:42:35,27.06.16,1,23.9,0.013679
9,1.0,2253.0760,06/27/2016 08:18:56 PM,06/27/2016 08:26:46 PM,8.80,"(40.72140121459961, -73.84432220458984)","(40.70916366577149, -73.82825469970702)",2016-06-27,20:18:56,27.06.16,1,23.9,0.022531
10,1.0,5986.7448,06/27/2016 08:38:11 PM,06/27/2016 08:51:19 PM,18.36,"(40.72161102294922, -73.84426116943358)","(40.68373489379883, -73.8172378540039)",2016-06-27,20:38:11,27.06.16,1,23.9,0.059867
11,1.0,1850.7410,06/27/2016 08:29:54 PM,06/27/2016 08:35:58 PM,8.76,"(40.703857421875, -73.986328125)","(40.698406219482415, -73.9961929321289)",2016-06-27,20:29:54,27.06.16,1,23.9,0.018507
12,1.0,7016.7224,06/27/2016 08:40:24 PM,06/27/2016 08:58:09 PM,22.11,"(40.70006561279297, -73.9945297241211)","(40.72521591186523, -73.95167541503906)",2016-06-27,20:40:24,27.06.16,1,23.9,0.070167
13,1.0,1528.8730,06/27/2016 08:59:46 PM,06/27/2016 09:04:35 PM,8.16,"(40.72527313232422, -73.95167541503906)","(40.71686172485352, -73.95897674560547)",2016-06-27,20:59:46,27.06.16,1,23.9,0.015289
14,1.0,4892.3936,06/27/2016 08:13:13 PM,06/27/2016 08:28:57 PM,18.59,"(40.65702438354492, -73.9835433959961)","(40.64028549194336, -73.95664978027344)",2016-06-27,20:13:13,27.06.16,1,23.9,0.048924
15,1.0,2591.0374,06/27/2016 08:59:24 PM,06/27/2016 09:07:14 PM,11.16,"(40.67444610595703, -73.98187255859375)","(40.6897087097168, -73.99190521240234)",2016-06-27,20:59:24,27.06.16,1,23.9,0.025910
16,2.0,1287.4720,06/27/2016 08:12:35 PM,06/27/2016 08:19:16 PM,8.76,"(40.69172668457031, -73.9869384765625)","(40.69403076171875, -73.99906158447266)",2016-06-27,20:12:35,27.06.16,1,23.9,0.012875
17,2.0,3958.9764,06/27/2016 08:23:06 PM,06/27/2016 08:38:41 PM,15.96,"(40.692081451416016, -74.0006103515625)","(40.67207336425781, -73.98382568359375)",2016-06-27,20:23:06,27.06.16,1,23.9,0.039590
18,2.0,1528.8730,06/27/2016 08:42:08 PM,06/27/2016 08:47:28 PM,6.80,"(40.67575454711913, -73.98087310791014)","(40.68682861328125, -73.9756851196289)",2016-06-27,20:42:08,27.06.16,1,23.9,0.015289
19,1.0,11104.4460,06/27/2016 08:25:15 PM,06/27/2016 08:46:30 PM,27.96,"(40.72210693359375, -73.95777893066406)","(40.78557205200195, -73.95560455322266)",2016-06-27,20:25:15,27.06.16,1,23.9,0.100000
20,1.0,5375.1956,06/27/2016 08:20:17 PM,06/27/2016 08:37:08 PM,15.30,"(40.82394027709961, -73.94469451904298)","(40.84907913208008, -73.91773986816406)",2016-06-27,20:20:17,27.06.16,1,23.9,0.053752
21,1.0,3266.9602,06/27/2016 08:03:40 PM,06/27/2016 08:12:26 PM,14.31,"(40.70561599731445, -73.83002471923827)","(40.71337127685547, -73.80460357666014)",2016-06-27,20:03:40,27.06.16,1,23.9,0.032670
22,5.0,4860.2068,06/27/2016 08:32:00 PM,06/27/2016 08:41:49 PM,14.30,"(40.71507263183594, -73.83175659179686)","(40.72828674316406, -73.79852294921875)",2016-06-27,20:32:00,27.06.16,1,23.9,0.048602
23,5.0,13775.9504,06/27/2016 08:50:48 PM,06/27/2016 09:15:32 PM,35.16,"(40.71635437011719, -73.83345031738281)","(40.706703186035156, -73.9496078491211)",2016-06-27,20:50:48,27.06.16,1,23.9,0.100000
24,1.0,4972.8606,06/27/2016 08:42:18 PM,06/27/2016 09:00:15 PM,18.36,"(40.80530166625977, -73.93965148925781)","(40.83030700683594, -73.94973754882812)",2016-06-27,20:42:18,27.06.16,1,23.9,0.049729
25,2.0,4087.7236,06/27/2016 08:08:26 PM,06/27/2016 08:25:42 PM,14.30,"(40.73826217651367, -73.88623046875)","(40.75325012207031, -73.8705825805664)",2016-06-27,20:08:26,27.06.16,1,23.9,0.040877
26,1.0,1078.2578,06/27/2016 08:18:01 PM,06/27/2016 08:23:02 PM,8.00,"(40.70111846923828, -73.99147033691406)","(40.70024871826172, -73.9803695678711)",2016-06-27,20:18:01,27.06.16,1,23.9,0.010783
27,1.0,2446.1968,06/27/2016 08:28:14 PM,06/27/2016 08:34:24 PM,9.30,"(40.70241928100585, -73.98681640625)","(40.69062042236328, -73.97132873535155)",2016-06-27,20:28:14,27.06.16,1,23.9,0.024462
28,5.0,1287.4720,06/27/2016 08:51:22 PM,06/27/2016 08:54:37 PM,5.80,"(40.73038101196289, -73.86212158203125)","(40.73332977294922, -73.84840393066406)",2016-06-27,20:51:22,27.06.16,1,23.9,0.012875
29,5.0,933.4172,06/27/2016 08:19:58 PM,06/27/2016 08:22:58 PM,5.80,"(40.73256301879883, -73.86381530761719)","(40.73107147216797, -73.86940002441406)",2016-06-27,20:19:58,27.06.16,1,23.9,0.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1.0,2639.3176,06/27/2016 08:13:23 PM,06/27/2016 08:21:42 PM,11.62,"(40.72136306762695, -73.84430694580078)","(40.706844329833984, -73.8358154296875)",2016-06-27,20:13:23,27.06.16,1,23.9,0.026393
71,1.0,2558.8506,06/27/2016 08:05:25 PM,06/27/2016 08:14:38 PM,11.62,"(40.74982833862305, -73.88351440429686)","(40.7636604309082, -73.88002014160156)",2016-06-27,20:05:25,27.06.16,1,23.9,0.025589
72,1.0,0.0000,06/27/2016 08:09:58 PM,06/27/2016 08:13:00 PM,6.36,"(40.68532180786133, -73.9762191772461)","(40.689319610595696, -73.97206115722656)",2016-06-27,20:09:58,27.06.16,1,23.9,0.050000
73,2.0,0.0000,06/27/2016 08:26:22 PM,06/27/2016 08:31:13 PM,5.80,"(40.6798095703125, -73.93951416015625)","(40.68331146240234, -73.93721008300781)",2016-06-27,20:26:22,27.06.16,1,23.9,0.050000
74,1.0,0.0000,06/27/2016 08:40:27 PM,06/27/2016 08:52:26 PM,9.30,"(40.680755615234375, -73.95336151123048)","(40.681827545166016, -73.91748809814453)",2016-06-27,20:40:27,27.06.16,1,23.9,0.050000
75,1.0,4554.4322,06/27/2016 08:15:59 PM,06/27/2016 08:31:47 PM,17.29,"(40.74696350097656, -73.8909454345703)","(40.72039794921875, -73.87403869628906)",2016-06-27,20:15:59,27.06.16,1,23.9,0.045544
76,1.0,563.2690,06/27/2016 08:44:59 PM,06/27/2016 08:47:42 PM,5.30,"(40.74417114257813, -73.8854217529297)","(40.74665069580078, -73.89139556884766)",2016-06-27,20:44:59,27.06.16,1,23.9,0.050000
77,1.0,0.0000,06/27/2016 08:49:18 PM,06/27/2016 08:49:54 PM,52.80,"(40.74678802490234, -73.89120483398438)","(40.74680709838867, -73.89104461669923)",2016-06-27,20:49:18,27.06.16,1,23.9,0.050000
78,1.0,2880.7186,06/27/2016 08:50:00 PM,06/27/2016 09:02:17 PM,12.96,"(40.746803283691406, -73.89103698730467)","(40.76840591430664, -73.8913803100586)",2016-06-27,20:50:00,27.06.16,1,23.9,0.028807
79,1.0,4168.1906,06/27/2016 08:35:44 PM,06/27/2016 08:52:45 PM,16.56,"(40.700660705566406, -73.99415588378906)","(40.68952178955078, -73.96942138671875)",2016-06-27,20:35:44,27.06.16,1,23.9,0.041682
80,1.0,1625.4334,06/27/2016 08:11:17 PM,06/27/2016 08:15:40 PM,8.84,"(40.73656845092773, -73.87794494628906)","(40.72776794433594, -73.89237976074219)",2016-06-27,20:11:17,27.06.16,1,23.9,0.016254
81,1.0,8175.4472,06/27/2016 08:30:35 PM,06/27/2016 08:43:36 PM,17.80,"(40.757755279541016, -73.83414459228516)","(40.7060775756836, -73.831298828125)",2016-06-27,20:30:35,27.06.16,1,23.9,0.081754
82,1.0,5680.9702,06/27/2016 08:15:46 PM,06/27/2016 08:28:41 PM,13.30,"(40.78598403930664, -73.94273376464845)","(40.82407760620117, -73.94072723388672)",2016-06-27,20:15:46,27.06.16,1,23.9,0.056810
83,1.0,3009.4658,06/27/2016 08:39:27 PM,06/27/2016 08:47:10 PM,9.30,"(40.820068359375, -73.94406127929686)","(40.8029899597168, -73.93612670898438)",2016-06-27,20:39:27,27.06.16,1,23.9,0.030095
84,1.0,7290.3102,06/27/2016 08:52:20 PM,06/27/2016 09:01:45 PM,15.30,"(40.79969787597656, -73.93883514404298)","(40.85094833374024, -73.93852996826173)",2016-06-27,20:52:20,27.06.16,1,23.9,0.072903
85,1.0,627.6426,06/27/2016 08:13:38 PM,06/27/2016 08:15:29 PM,4.80,"(40.74826431274415, -73.94728851318358)","(40.75315856933594, -73.94303131103516)",2016-06-27,20:13:38,27.06.16,1,23.9,0.050000
86,1.0,1400.1258,06/27/2016 08:12:05 PM,06/27/2016 08:16:25 PM,7.00,"(40.69361114501953, -73.98284149169923)","(40.6838493347168, -73.97613525390625)",2016-06-27,20:12:05,27.06.16,1,23.9,0.014001
87,1.0,3009.4658,06/27/2016 08:17:42 PM,06/27/2016 08:24:27 PM,12.09,"(40.683685302734375, -73.97606658935547)","(40.6726951599121, -73.9507827758789)",2016-06-27,20:17:42,27.06.16,1,23.9,0.030095
88,1.0,3588.8282,06/27/2016 08:32:13 PM,06/27/2016 08:43:04 PM,13.56,"(40.66809844970703, -73.95892333984375)","(40.645755767822266, -73.97431945800781)",2016-06-27,20:32:13,27.06.16,1,23.9,0.035888
89,1.0,3186.4932,06/27/2016 08:46:52 PM,06/27/2016 09:00:14 PM,12.00,"(40.65651321411133, -73.97374725341797)","(40.65079116821289, -73.94951629638672)",2016-06-27,20:46:52,27.06.16,1,23.9,0.031865
90,1.0,6212.0524,06/27/2016 08:10:26 PM,06/27/2016 08:29:37 PM,20.16,"(40.67758560180664, -73.98606109619139)","(40.6961326599121, -73.92362976074219)",2016-06-27,20:10:26,27.06.16,1,23.9,0.062121
91,1.0,2204.7958,06/27/2016 08:45:26 PM,06/28/2016 08:29:37 PM,9.30,"(40.69546127319336, -73.94963836669923)","(40.705711364746094, -73.96359252929686)",2016-06-27,20:45:26,27.06.16,1,23.9,0.022048
92,1.0,48.2802,06/27/2016 08:20:25 PM,06/27/2016 08:20:54 PM,3.80,"(40.834617614746094, -73.91808319091797)","(40.83473587036133, -73.91727447509766)",2016-06-27,20:20:25,27.06.16,1,23.9,0.050000
93,1.0,7048.9092,06/27/2016 08:40:30 PM,06/27/2016 08:54:19 PM,16.30,"(40.87440872192383, -73.89156341552734)","(40.83181762695313, -73.8665313720703)",2016-06-27,20:40:30,27.06.16,1,23.9,0.070489
94,1.0,1593.2466,06/27/2016 08:07:09 PM,06/27/2016 08:12:22 PM,7.30,"(40.78531265258789, -73.94964599609375)","(40.79355239868164, -73.9664306640625)",2016-06-27,20:07:09,27.06.16,1,23.9,0.015932
95,1.0,2639.3176,06/27/2016 08:21:01 PM,06/27/2016 08:28:38 PM,11.16,"(40.78973388671875, -73.95437622070312)","(40.77206039428711, -73.95601654052734)",2016-06-27,20:21:01,27.06.16,1,23.9,0.026393
96,1.0,19827.0688,06/27/2016 08:40:50 PM,06/27/2016 09:01:45 PM,46.84,"(40.78953170776367, -73.95420837402342)","(40.71905899047852, -73.83702087402342)",2016-06-27,20:40:50,27.06.16,1,23.9,0.100000
97,1.0,1931.2080,06/27/2016 08:11:06 PM,06/27/2016 08:16:32 PM,8.76,"(40.789833068847656, -73.95234680175781)","(40.77936935424805, -73.95552062988281)",2016-06-27,20:11:06,27.06.16,1,23.9,0.019312
98,1.0,2462.2902,06/27/2016 08:24:39 PM,06/27/2016 08:29:27 PM,7.80,"(40.78771209716797, -73.95379638671875)","(40.80502700805664, -73.939208984375)",2016-06-27,20:24:39,27.06.16,1,23.9,0.024623
99,1.0,3122.1196,06/27/2016 08:31:22 PM,06/27/2016 08:43:06 PM,12.96,"(40.80509948730469, -73.93919372558595)","(40.823333740234375, -73.950927734375)",2016-06-27,20:31:22,27.06.16,1,23.9,0.031221

In [151]:
#time score

# alle fahrten zwischen 6 uhr morgens und 23 uhr abends werden mit 0.1 punkten bepreist


testdf2=testdf.head(1000)
#testdf2['Time2']=testdf2['Time'].astype(str)
#testdf2['Time2']=testdf2['Time'].astype(float)
#testdf2['Time2']=testdf2["Time2"].apply(lambda x: datetime.strptime(x, '%H:%M:%S') if x != 'nan' else None)
#testdf2["Time2"]= testdf2['Time2'].datetime.strptime('%H:%M:%S')
testdf2['Time2']=testdf2['Time'].astype(str)
testdf2['Time2']=testdf2["Time2"].apply(lambda x: datetime.strptime(x, '%H:%M:%S') if x != 'nan' else None)

/Users/yannickfischer/anaconda3/envs/learning_env2/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/yannickfischer/anaconda3/envs/learning_env2/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [152]:
testdf2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 16 columns):
Passenger_count          1000 non-null float64
Trip_distance            1000 non-null float64
lpep_pickup_datetime     1000 non-null object
Lpep_dropoff_datetime    1000 non-null object
Total_amount             1000 non-null float64
trip_start_coords        1000 non-null object
trip_stop_coords         1000 non-null object
Date                     1000 non-null datetime64[ns]
Time                     1000 non-null object
date                     1000 non-null object
Precipitation            1000 non-null int64
Temp_Avg                 1000 non-null float64
Distance_Score           1000 non-null float64
Weather_Score            1000 non-null float64
Time_score               0 non-null float64
Time2                    1000 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(7), int64(1), object(6)
memory usage: 132.8+ KB

In [153]:
testdf2.head()

,Passenger_count,Trip_distance,lpep_pickup_datetime,Lpep_dropoff_datetime,Total_amount,trip_start_coords,trip_stop_coords,Date,Time,date,Precipitation,Temp_Avg,Distance_Score,Weather_Score,Time_score,Time2
0,1.0,0.0000,06/27/2016 08:06:54 PM,06/27/2016 08:06:56 PM,20.0,"(40.8540153503418, -73.9371337890625)","(40.85404586791992, -73.93716430664062)",2016-06-27,20:06:54,27.06.16,1,23.9,0.050000,0.0,NaN,1900-01-01 20:06:54
1,1.0,3717.5754,06/27/2016 08:18:59 PM,06/27/2016 08:31:30 PM,12.3,"(40.73588180541992, -73.87599945068358)","(40.74331283569336, -73.91846466064453)",2016-06-27,20:18:59,27.06.16,1,23.9,0.037176,0.0,NaN,1900-01-01 20:18:59
2,1.0,2880.7186,06/27/2016 08:41:59 PM,06/27/2016 08:51:59 PM,11.8,"(40.74348068237305, -73.92293548583984)","(40.73776626586913, -73.90747833251955)",2016-06-27,20:41:59,27.06.16,1,23.9,0.028807,0.0,NaN,1900-01-01 20:41:59
3,1.0,9495.1060,06/27/2016 08:18:37 PM,06/27/2016 08:38:13 PM,21.3,"(40.73053741455078, -73.86274719238281)","(40.75696182250977, -73.9418411254883)",2016-06-27,20:18:37,27.06.16,1,23.9,0.094951,0.0,NaN,1900-01-01 20:18:37
4,1.0,708.1096,06/27/2016 08:04:02 PM,06/27/2016 08:06:49 PM,5.3,"(40.74653625488281, -73.89139556884766)","(40.74052047729492, -73.8902359008789)",2016-06-27,20:04:02,27.06.16,1,23.9,0.050000,0.0,NaN,1900-01-01 20:04:02

In [155]:
#Wetter Score
testdf.loc[testdf.Precipitation == 1, 'Weather_Score'] = 0
testdf.loc[(testdf.Precipitation == 0) & (testdf.Temp_Avg > 12 ), "Weather_Score"] = 0.1
testdf.head()

,Passenger_count,Trip_distance,lpep_pickup_datetime,Lpep_dropoff_datetime,Total_amount,trip_start_coords,trip_stop_coords,Date,Time,date,Precipitation,Temp_Avg,Distance_Score,Weather_Score,Time_score
0,1.0,0.0000,06/27/2016 08:06:54 PM,06/27/2016 08:06:56 PM,20.0,"(40.8540153503418, -73.9371337890625)","(40.85404586791992, -73.93716430664062)",2016-06-27,20:06:54,27.06.16,1,23.9,0.050000,0.0,NaN
1,1.0,3717.5754,06/27/2016 08:18:59 PM,06/27/2016 08:31:30 PM,12.3,"(40.73588180541992, -73.87599945068358)","(40.74331283569336, -73.91846466064453)",2016-06-27,20:18:59,27.06.16,1,23.9,0.037176,0.0,NaN
2,1.0,2880.7186,06/27/2016 08:41:59 PM,06/27/2016 08:51:59 PM,11.8,"(40.74348068237305, -73.92293548583984)","(40.73776626586913, -73.90747833251955)",2016-06-27,20:41:59,27.06.16,1,23.9,0.028807,0.0,NaN
3,1.0,9495.1060,06/27/2016 08:18:37 PM,06/27/2016 08:38:13 PM,21.3,"(40.73053741455078, -73.86274719238281)","(40.75696182250977, -73.9418411254883)",2016-06-27,20:18:37,27.06.16,1,23.9,0.094951,0.0,NaN
4,1.0,708.1096,06/27/2016 08:04:02 PM,06/27/2016 08:06:49 PM,5.3,"(40.74653625488281, -73.89139556884766)","(40.74052047729492, -73.8902359008789)",2016-06-27,20:04:02,27.06.16,1,23.9,0.050000,0.0,NaN

In [104]:
#Walking Score
testdf.loc[(testdf.Walking_Distance > 1000) , "Walking_Score"] = 0
testdf.loc[(testdf.Walking_Distance < 1000) , "Walking_Score"] = 0.5 -(testdf["Walking_Distance"]/2000)

AttributeError: 'DataFrame' object has no attribute 'Walking_Distance'

In [138]:
#Time Score
#t0 = time.time()
#testdf2=testdf.head(900000)
#testdf2['Time']=testdf2['Time'].astype(float)
#testdf2['Time']=testdf2["Time"].apply(lambda x: datetime.strptime(x, '%H:%M:%S'))
#calc_min((40.75664138793945, -73.91413116455078), oepnv_locations)

time1 = datetime.strptime(a,"%H:%M:%S") # convert string to time
time2 = datetime.strptime(b,"%H:%M:%S") 

#t1 = time.time()
#total = t1 - t0
#total
#testdf.loc[(testdf.Time == "20:06:54") , "Time_score"] = 0
#testdf.head()

,Passenger_count,Trip_distance,lpep_pickup_datetime,Lpep_dropoff_datetime,Total_amount,trip_start_coords,trip_stop_coords,Date,Time,date,Precipitation,Temp_Avg,Distance_Score,Weather_Score,Time_score
0,1.0,0.0000,06/27/2016 08:06:54 PM,06/27/2016 08:06:56 PM,20.0,"(40.8540153503418, -73.9371337890625)","(40.85404586791992, -73.93716430664062)",2016-06-27,20:06:54,27.06.16,1,23.9,0.050000,0.0,NaN
1,1.0,3717.5754,06/27/2016 08:18:59 PM,06/27/2016 08:31:30 PM,12.3,"(40.73588180541992, -73.87599945068358)","(40.74331283569336, -73.91846466064453)",2016-06-27,20:18:59,27.06.16,1,23.9,0.037176,0.0,NaN
2,1.0,2880.7186,06/27/2016 08:41:59 PM,06/27/2016 08:51:59 PM,11.8,"(40.74348068237305, -73.92293548583984)","(40.73776626586913, -73.90747833251955)",2016-06-27,20:41:59,27.06.16,1,23.9,0.028807,0.0,NaN
3,1.0,9495.1060,06/27/2016 08:18:37 PM,06/27/2016 08:38:13 PM,21.3,"(40.73053741455078, -73.86274719238281)","(40.75696182250977, -73.9418411254883)",2016-06-27,20:18:37,27.06.16,1,23.9,0.094951,0.0,NaN
4,1.0,708.1096,06/27/2016 08:04:02 PM,06/27/2016 08:06:49 PM,5.3,"(40.74653625488281, -73.89139556884766)","(40.74052047729492, -73.8902359008789)",2016-06-27,20:04:02,27.06.16,1,23.9,0.050000,0.0,NaN

In [127]:

testdf.tail()

,Passenger_count,Trip_distance,lpep_pickup_datetime,Lpep_dropoff_datetime,Total_amount,trip_start_coords,trip_stop_coords,Date,Time,date,Precipitation,Temp_Avg,Distance_Score,Weather_Score
9018209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-12-27,NaN,27.12.16,0,10.0,NaN,NaN
9018210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-12-28,NaN,28.12.16,0,2.8,NaN,NaN
9018211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-12-29,NaN,29.12.16,1,4.2,NaN,0.0
9018212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-12-30,NaN,30.12.16,1,2.5,NaN,0.0
9018213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-12-31,NaN,31.12.16,0,3.1,NaN,NaN

In [154]:
testdf.to_csv('Data_wetter_scores.csv')