In [28]:
import pandas as pd
import numpy as np
import re
import time

In [2]:
taxi_df = pd.read_csv("../../data/taxi/taxi_data.csv")
bus_df = pd.read_csv("../../data/taxi/bus_stations.csv")
subway_df = pd.read_csv("../../data/taxi/subway_stations.csv")

In [3]:
def parseCoords(regex, x):
    arr = regex.match(x)
    return (float(arr.group(2)), float(arr.group(1)))

In [4]:
regex = re.compile("[ ]*POINT \(([-.0-9]+) ([-.0-9]+)\)")
subway_df['coords'] = subway_df.apply(lambda x : parseCoords(regex, x['the_geom']), axis=1)
bus_df['coords'] = list(zip(bus_df['LATITUDE'], bus_df['LONGITUDE']))

In [5]:
subway_df['type'] = 'subway'
bus_df['type'] = 'bus'

In [7]:
bus_df['location'] = bus_df['Street'] + ' AT BETWEEN ' + bus_df['AT_BETWEEN']
bus_df_stripped = bus_df.filter(['location', 'coords', 'type'], axis=1)
subway_df['location'] = subway_df['NAME']
subway_df_stripped = subway_df.filter(['location', 'coords', 'type'], axis=1)
oepnv_locations = pd.concat([subway_df_stripped, bus_df_stripped], ignore_index=True, sort=False)

In [8]:
oepnv_locations

,location,coords,type
0,Astor Pl,"(40.73005400028978, -73.99106999861966)",subway
1,Canal St,"(40.71880300107709, -74.00019299927328)",subway
2,50th St,"(40.76172799961419, -73.98384899986625)",subway
3,Bergen St,"(40.68086213682956, -73.97499915116808)",subway
4,Pennsylvania Ave,"(40.66471445143568, -73.89488591154061)",subway
5,238th St,"(40.88466700064975, -73.90087000018522)",subway
6,Cathedral Pkwy (110th St),"(40.800581558114956, -73.95806670661364)",subway
7,Kingston - Throop Aves,"(40.67991899941601, -73.94085899871263)",subway
8,65th St,"(40.74971952935675, -73.8987883783301)",subway
9,36th St,"(40.75196004401078, -73.92901818461539)",subway
10,Delancey St - Essex St,"(40.71830605618619, -73.98740940202974)",subway
11,Van Siclen Ave,"(40.67802821447783, -73.89165772702445)",subway
12,Norwood Ave,"(40.68152000045683, -73.87962599910783)",subway
13,104th-102nd Sts,"(40.69516599823373, -73.84443500029684)",subway
14,DeKalb Ave,"(40.690648119969794, -73.98177094440949)",subway
15,Beach 105th St,"(40.58326843810286, -73.82758075034528)",subway
16,Beach 90th St,"(40.58809156457325, -73.81365140419632)",subway
17,Freeman St,"(40.829987446384116, -73.89175225349464)",subway
18,Intervale Ave,"(40.822142131170786, -73.89661738461646)",subway
19,182nd-183rd Sts,"(40.85609299881864, -73.90074099998965)",subway
20,174th-175th Sts,"(40.84589999983414, -73.91013600050078)",subway
21,167th St,"(40.83376899862797, -73.91843200082253)",subway
22,Mets - Willets Point,"(40.75462199881262, -73.8456249984179)",subway
23,Junction Blvd,"(40.74914499948836, -73.86952700103515)",subway
24,Flushing - Main St,"(40.75959999915012, -73.83003000262508)",subway
25,Buhre Ave,"(40.846809998885504, -73.83256900003744)",subway
26,3rd Ave - 138th St,"(40.81047600117261, -73.92613800014134)",subway
27,Castle Hill Ave,"(40.83425499825462, -73.85122199961472)",subway
28,Brooklyn Bridge - City Hall,"(40.713064999433136, -74.0041310005885)",subway
29,Zerega Ave,"(40.836488000608156, -73.8470359987544)",subway
...,...,...,...
3871,W SHR EXPWY NB EN ARTHUR KILL RD AT BETWEEN AR...,"(40.557024, -74.203227)",bus
3872,RICHMOND AVENUE AT BETWEEN YUKON AV,"(40.57649, -74.169505)",bus
3873,FOREST AVENUE AT BETWEEN DECKER AV,"(40.624631, -74.141061)",bus
3874,ARTHUR KILL ROAD AT BETWEEN HUGUENOT AV,"(40.556092, -74.20276)",bus
3875,BAY STREET AT BETWEEN TOWNSEND AV,"(40.621173, -74.071653)",bus
3876,RICHMOND TERRACE AT BETWEEN NICHOLAS ST,"(40.647249, -74.08092099999999)",bus
3877,NEW DORP LANE AT BETWEEN HYLAN BLVD,"(40.569653, -74.108427)",bus
3878,NEW DORP LANE AT BETWEEN 2 ST,"(40.575269, -74.118934)",bus
3879,NEW DORP LANE AT BETWEEN HYLAN BLVD,"(40.570412, -74.10949000000001)",bus
3880,FOREST AVENUE AT BETWEEN WILLOW RD W,"(40.625032, -74.147092)",bus
3881,HYLAN BOULEVARD AT BETWEEN MIDLAND AV,"(40.577659999999995, -74.102786)",bus
3882,HYLAN BOULEVARD AT BETWEEN MIDLAND AV,"(40.57764, -74.102811)",bus
3883,RICHMOND AVENUE AT BETWEEN GENESEE AV,"(40.552422, -74.168098)",bus
3884,RICHMOND AVENUE AT BETWEEN HYLAN BLVD,"(40.534572, -74.154313)",bus
3885,FRESH KILLS GREENWAY AT BETWEEN YUKON AV,"(40.576628, -74.170019)",bus
3886,MARSH AVENUE AT BETWEEN RING RD,"(40.583486, -74.161759)",bus
3887,NaN,"(40.560853, -74.170536)",bus
3888,HYLAN BOULEVARD AT BETWEEN THORNYCROFT AV,"(40.535689, -74.152159)",bus
3889,DRUMGOOLE ROAD EAST AT BETWEEN Huguenot Av,"(40.53438, -74.19248)",bus
3890,TARGEE STREET AT BETWEEN SOBEL CT,"(40.61387, -74.08471)",bus
3891,MARSH AVENUE AT BETWEEN WINDHAM LOOP,"(40.57808, -74.16351)",bus
3892,BAY STREET AT BETWEEN VAN DUZER EXT,"(40.63478, -74.07548)",bus
3893,TARGEE STREET AT BETWEEN PALMA DR,"(40.61235, -74.08506)",bus
3894,HYLAN BOULEVARD AT BETWEEN Beach Av,"(40.567828000000006, -74.112215)",bus
3895,INDEPENDENCE AVENUE AT BETWEEN Pathmark,"(40.574009999999994, -74.168564)",bus
3896,RICHMOND TERRACE AT BETWEEN Franklin Av,"(40.645357000000004, -74.092991)",bus
3897,HYLAN BOULEVARD AT BETWEEN GUYON AV,"(40.5603, -74.12039)",bus
3898,HYLAN BOULEVARD AT BETWEEN GUYON AV,"(40.56044, -74.11976999999999)",bus
3899,STATEN ISLAND RAILWAY LINE AT BETWEEN BETWEEN ...,"(40.6438, -74.0755)",bus
3900,SCHUYLER STREET AT BETWEEN BETWEEN BAY ST & SH...,"(40.643468, -74.076582)",bus

In [9]:
taxi_df_with_location = taxi_df[taxi_df['Pickup_longitude'].notnull()][taxi_df['Pickup_latitude'].notnull()][taxi_df['Dropoff_longitude'].notnull()][taxi_df['Dropoff_latitude'].notnull()]

C:\my-programmes\anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [12]:
taxi_df_with_location['trip_start_coords'] = list(zip(taxi_df_with_location['Pickup_latitude'], taxi_df_with_location['Pickup_longitude']))
taxi_df_with_location['trip_stop_coords'] = list(zip(taxi_df_with_location['Dropoff_latitude'], taxi_df_with_location['Dropoff_longitude']))

In [16]:
taxi_df_stripped = taxi_df_with_location.filter(['Passenger_count', 'Trip_distance', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime', 'Total_amount', 'trip_start_coords', 'trip_stop_coords'], axis=1)
taxi_df_stripped.head(10)

,Passenger_count,Trip_distance,lpep_pickup_datetime,Lpep_dropoff_datetime,Total_amount,trip_start_coords,trip_stop_coords
5005541,1,1.46,01/01/2016 12:29:24 AM,01/01/2016 12:39:36 AM,11.16,"(40.68061065673828, -73.92864227294923)","(40.69804382324219, -73.92427825927734)"
5005542,1,3.56,01/01/2016 12:19:39 AM,01/01/2016 12:39:18 AM,16.80,"(40.72317504882813, -73.95267486572266)","(40.76137924194336, -73.92391967773438)"
5005543,1,3.79,01/01/2016 12:19:33 AM,01/01/2016 12:39:48 AM,22.25,"(40.67610549926758, -73.97161102294923)","(40.64607238769531, -74.0131607055664)"
5005544,1,3.01,01/01/2016 12:22:12 AM,01/01/2016 12:38:32 AM,14.80,"(40.669578552246094, -73.989501953125)","(40.68903350830078, -74.00064849853516)"
5005545,1,2.55,01/01/2016 12:24:01 AM,01/01/2016 12:39:22 AM,13.30,"(40.68285369873047, -73.96472930908203)","(40.66301345825195, -73.94071960449219)"
5005546,1,1.37,01/01/2016 12:32:59 AM,01/01/2016 12:39:35 AM,8.30,"(40.74645614624024, -73.89114379882812)","(40.74211120605469, -73.86774444580078)"
5005547,1,0.57,01/01/2016 12:34:42 AM,01/01/2016 12:39:21 AM,6.30,"(40.74619674682617, -73.89667510986328)","(40.745689392089844, -73.88619232177734)"
5005548,1,1.01,01/01/2016 12:31:23 AM,01/01/2016 12:39:36 AM,8.30,"(40.803558349609375, -73.95335388183594)","(40.79412078857422, -73.94915008544923)"
5005549,1,2.46,01/01/2016 12:24:40 AM,01/01/2016 12:39:52 AM,15.30,"(40.70281600952149, -73.99406433105469)","(40.679725646972656, -73.97157287597656)"
5005550,1,1.61,01/01/2016 12:28:59 AM,01/01/2016 12:39:23 AM,11.90,"(40.75664138793945, -73.91413116455078)","(40.73965835571289, -73.91754913330078)"

In [35]:
#calc_min((40.75664138793945, -73.91413116455078), oepnv_locations)
t0 = time.time()
taxi_df_stripped.head(100)['trip_start_coords'].map(calc_min)
t1 = time.time()
total = t1 - t0
total

2.792691946029663

In [33]:
30 * 9018 / 60 / 60

75.15

In [25]:
def calc_min(x):
    amin = np.argmin([np.linalg.norm(np.array(x)-np.array(y)) for y in oepnv_locations['coords']])
    return oepnv_locations.iloc[amin]['location']